# Raw sequencing data
raw_data/
*.fastq
*.fq
*.fastq.gz
*.fq.gz

# Alignment files
*.bam
*.sam
*.bai

# Variant files
*.vcf
*.vcf.gz

# Logs
*.log
logs/

# Temporary / system
*.tmp
.DS_Store

# Local data and outputs
QC_Outputs/
Rqtl_Outputs/

# Keep the large marker archive out of Git
Rqtl_Inputs/All_Markers.tsv.zip

# Keep generated outputs out of Git
QC_Outputs/
Rqtl_Outputs/
